#CompileFlags:
#  Add: [-nostdlib, -isysteminclude]
#  Remove: [-I, --include, -isystem, -internal-externc-isystem, -internal-isystem]
Index:
  StandardLibrary: false
Style:
  AngledHeaders: [".*"]
Diagnostics:
  UnusedIncludes: None
Hover:
  ShowAKA: true

---
If:
  PathMatch: [.*\.h]
CompileFlags:
  Add: [-std=c23, -xc-header]
  Remove: [-x]

---
If:
  PathMatch: [.*\.c]
CompileFlags:
  Add: [-std=c23, -xc]
  Remove: [-x]

---
If:
  PathMatch: [.*\.S]
CompileFlags:
  Add: [-xassembler-with-cpp]
  Remove: [-x]
